# Environment & Secrets
.env
.env.*

# Python virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Test output files
reports/
*.json

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db